version: '3'
services:
  laravel.test:
    build:
      context: ./docker/8.3
      dockerfile: Dockerfile
    image: sail-8.3/app
    ports:
      - '${APP_PORT:-80}:80'
    environment:
      WWWGROUP: '${WWWGROUP}'
      LARAVEL_SAIL: 1
    volumes:
      - '.:/var/www/html'
    networks:
      - sail
    depends_on:
      - pgsql
      - redis
      - meilisearch
      - mailpit

  pgsql:
    image: postgres:16
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
    volumes:
      - 'sailpgsql:/var/lib/postgresql/data'
    networks:
      - sail

  redis:
    image: redis:alpine
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'sailredis:/data'
    networks:
      - sail

  meilisearch:
    image: getmeili/meilisearch:latest
    ports:
      - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
    volumes:
      - 'sailmeili:/data.ms'
    networks:
      - sail

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - '${FORWARD_MAILPIT_PORT:-8025}:8025'
    networks:
      - sail

networks:
  sail:
    driver: bridge

volumes:
  sailpgsql:
  sailredis:
  sailmeili:

